@model IEnumerable<Product>

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Material</th>
            <th>Stone</th>
            <th>Type</th>
            <th>Size</th>
            <th>Image URL</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Materials</td>
                <td>@product.Stones</td>
                <td>@product.Type</td>
                <td>@product.Size</td>
                <td>@product.ImageURl</td>
                <td><a asp-route-Id="@product.Id" asp-controller="Product" asp-action="Edit"> Edit </a></td>
                <td><a asp-route-Id="@product.Id" asp-controller="Product" asp-action="Delete"> Delete </a></td>
            </tr>
        }
    </table>
    <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Create"> Add Product </a>
</div>